body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #0b0e0b;
    color: #333;
}

.contact {
    width: 100%;
    padding: 20px;
    margin: 10px 0;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    background-color: #180f7c;
    color: white;
    text-align: center;
    padding: 20px;
}

.profile-photo {
    width: 180px;
    border-radius: 50%;
}

.about, .skills, .footer {
    width: 100%;
    padding: 20px;
    margin: 10px 0;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact {
    width: 100%;
    padding: 20px;
    margin: 10px 0;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 200px;  /* Adjusted for better responsiveness */
    text-align: center;
}

.contact input,
.contact select,
.contact textarea {
    height: 10px;  /* Set the height of the fields */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.contact button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-left: auto;
    margin-right: auto;
}


.contact button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;

    margin-left: auto;
    margin-right: auto;
}

.contact button:hover {
    background-color: #0056b3; 
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills li {
    background: #aab4bb;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}

.skills li:hover {
    background: #788291;
    color: white;
}

.footer {
    text-align: center;
    background-color: #0e0b46;
    color: white;
    padding: 20px;
}

a {
    color: #66f;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

a:hover {
    text-decoration: underline;
    color: #3d3df5;
}
